/DevonPrototype1/LyraStarterGame/Saved
/DevonPrototype1/LyraStarterGame/Intermediate
/DevonPrototype1/LyraStarterGame/DerivedDataCache
/DevonPrototype1/LyraStarterGame/Content/StarterContent
/DevonPrototype1/LyraStarterGame/Platforms
